.project_card {
    background-color: var(--primary-background);
    border: 2px solid var(--dark-gray);
    transition: all 0.5s;
    
    img {
        height: 200px;
        transition: all 1s;
        cursor: pointer;
    }

    button {
        transition: all 0.5s;
    }

    .project_description {
        padding-block: 1rem;
        padding-inline: 1.5rem;

        h1 {
            color: var(--primary-title);
        }

        p {
            text-align: justify;
        }

        .card_button {
            color: var(--info);
            border: 2px solid var(--info);
            transition: all 0.5s;
            
            &:hover {
                color: var(--white);
                border: 2px solid var(--white);
                background-color: var(--dark-gray);
            }
        }
    }

    &:hover {
        transform: translate(0, -5px);
        box-shadow: 0 7px 1px var(--black);

        img {
            transform: translate(0, -5px);
            box-shadow: 0 5px 1px var(--dark-gray);
        }

        button {
            transform: translate(0, -5px);
            box-shadow: 0 5px 1px var(--dark-gray);
        }
    }
}

@media (min-width: 450px) {
    .project_card {
        img {
            height: 250px;
        }
    }
}

@media (min-width: 550px) {
    .project_card {
        img {
            height: 300px;
        }
    }
}

@media (min-width: 768px) {
    .project_card {
        img {
            height: 350px;
        }
    }
}