.projects {
    margin-block: 250px;

    .button {
        border: 2px solid var(--dark-gray);
        background-color: var(--secondary-background);
        padding-inline: 1.5rem;
        padding-block: 0.5rem;
        border-radius: 10px;
        box-shadow: 0 0 10px var(--gray);
        display: flex;
        align-items: center;

        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
        }

        span {
            color: var(--primary-title);
        }

        h1 {
            color: var(--primary-title);
        }

        .right {
            animation: toRight 1s infinite;
        }

        .left {
            animation: toLeft 1s infinite;
        }
    }
}

@keyframes toRight {

    0%,
    100% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }
}

@keyframes toLeft {

    0%,
    100% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}