.projects {
    margin-bottom: 10rem;

    .btn_show {
        .right {
            animation: toRight 1s infinite;
        }

        .left {
            animation: toLeft 1s infinite;
        }
    }
}

@keyframes toRight {

    0%,
    100% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }
}

@keyframes toLeft {

    0%,
    100% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}