.about {
    padding-top: 250px;

    .button {
        padding-inline: 1.5rem;
        padding-block: 0.75rem;
        border-radius: 0.5rem;
        background-color: transparent;
        display: flex;
        gap: 0.5rem;
        border: 2px solid #444;
    }
}