header {
    background-color: black;
    
    .socials_container {
        a {
            z-index: 2;
            cursor: pointer;
        }
    }

    .button_box {
        transform: translate(0, 0);
        z-index: 2;

        button {
            width: 180px;
            height: 60px;
            cursor: pointer;
            border: 1px solid #ffffff;
            background: transparent;
            transition: all 0.5s ease-in-out;

            .button_effect {
                position: absolute;
                left: 0;
                top: 0;
                fill: none;
                stroke: #fff;
                stroke-width: 5px;
                stroke-dasharray: 150 480;
                stroke-dashoffset: 150;
                transition: 1s ease-in-out;
            }
        }

        button:hover {
            transform: translate(-5px, -5px);
            box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.15);

            .button_effect {
                transform: translate(-5px, -5px);
                background-color: transparent;
                border: none;
                stroke-dashoffset: -480;
            }
        }
    }

    .svg_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}