.theme_container {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;

  .theme_box {
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: all 1s;

    &:hover {
      transform: scale(1.35);
      transition: all 0.3s;
    }
  }
}
