.modal_container {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

    .modal_box {
        width: 750px;
        height: 750px;

        .pdf {
            width: 100%;
            height: 100%;
            border: none;
            transform: scale(1);
        }
    }
}